<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление поста</title>
</head>
<body>
    <h1>
        {% if not object %}Добавить{% else %}Редактировать{% endif %} пост
    </h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>
            {% if not object %}Добавить{% else %}Сохранить{% endif %} пост
        </button>

    </form>
</body>
</html>
