<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ object.text }}</title>
</head>
<body>
    <p><img src="{{ user.avatar.url }}" alt="" width="50"><a>{{ user.name }} {{user.surname}}</a></p>
    <p><a>{{ object.text }}</a></p>
    {% if object.media1 %}
        <p><img src="{{ object.media1.url }}" alt="" width="300"></p>
    {% endif %}
    <p>❤ {{ object.likes }}    💬 {{ object.comments }}    ↷ {{ object.reposts}}</p>
    <p><a href="{% url 'post-edit' object.id %}">Редактировать пост</a> /
    <a href="{% url 'posts' %}">Вернуться к списку постов</a></p>
</body>
</html>
