<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список постов</title>
</head>
<body>
    <h1>Ваши посты</h1>
    <ul>
        {% for post in object_list %}
            {% if user.id == post.user_id %}
                <li>
                    <a href="{% url 'post' post.id %}">{{ post.text }}</a>
                        {% if post.media1 %}
                            <p> <img src="{{ post.media1.url }}" alt="" width="100"> </p>
                        {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
