<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Логин</title>
</head>
<body>
    <h1>Вход</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {{ error }}
    {% for key, error in form.non_field_errors.items %}
        <p>{{ key }} - {{ error }}</p>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Войти</button>
    </form>
</body>
</html>
