<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>БезКонтактов</title>
</head>
<body>
	<h1>БезКонтактов</h1>
	<p>Общайся сам с собой</p>

     {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if user.is_authenticated %}
        <img src="{{ user.avatar.url }}" alt="" width="100">
        <p>{{ user.name }} {{ user.surname }}</p>
        <a href="{% url 'post-add' %}">Добавить пост</a> /
        <a href="{% url 'posts' %}">Список постов</a>
        <p></p>
        <a href="{% url 'logout' %}">Выход</a>
    {% else %}
        <a href="{% url 'register' %}">Регистрация</a> /
        <a href="{% url 'login' %}">Логин</a>
    {% endif %}
</body>
</html>
